.home {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    &__text {
        font-size: 1.15rem;
    }

    &__links {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 16px;

        .menu-item a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
}